* {
  box-sizing: border-box;
}

body {
  width: 550px;
  min-height: 300px;
}

.hidden {
  display: none;
}

.button {
  padding: 5px 10px;
  background: none;
  border: 1px solid #95a5a6;
  border-radius: 3px;
  color: #2c3e50 !important;
  cursor: pointer;
}

.button > i,
.button > span {
  pointer-events: none;
}

.button:active {
  background: rgba(0, 0, 0, 0.1);
}

.button--icon {
  padding: 0;
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 100%;
}

.navigation {
  display: grid;
  align-self: start;
  grid-gap: 10px;
}

.editor-page__container {
  display: flex;
  gap: 10px;
}

.editor-page__header {
  display: flex;
  gap: 10px;
}

.editor-page__editor {
  width: 100%;
}

.editor-page__editor .CodeMirror {
  padding: 0;
  border: none;
}

.editor-page__editor .editor-toolbar {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.editor-page__sidebar {
  padding: 0 10px;
  max-width: 200px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.editor-page__actions {
  margin-left: auto;
}

.editor-page__create-button,
.editor-page__sidebar-button {
  padding: 3px;
  font-size: 20px;
}

.editor-page__note-title.CodeMirror {
  min-height: 0;
}

.editor-page__actions {
  justify-self: flex-end;
}

.editor {
  position: relative;
}

.editor__toolbar-button {
  z-index: 10;
  padding-top: 5px;

  border: none;
  background: none;
  opacity: 0.25;

  cursor: pointer;
}

.editor__toolbar-button:hover {
  opacity: 0.5;
}

.editor__toolbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.editor__toolbar-toggle:before {
  content: "\f205";
}

.editor__toolbar-toggle.inactive:before {
  content: "\f204";
}

.editor__toolbar-copy {
  position: absolute;
  bottom: 5px;
  right: 0;
  font-size: 20px;
}

.note-list {
  display: grid;
  grid-gap: 5px;
}

.note-item {
  display: grid;
  grid-template-columns: 1fr 30px;
  gap: 5px;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.note-item__actions {
  display: flex;
  gap: 5px;
}

/* Template list */
.calendar-event-loader {
  height: 20px;
}

.calendar-event-list {
  flex-wrap: nowrap;
  align-items: center;
  padding: 8px 0 8px;
  gap: 10px;
  overflow: hidden;
}

.calendar-event-list__item {
  max-width: 100px;
  align-self: center;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  border: 1px solid #6c757d;
  border-radius: 7px;
  background: #fff;
  padding-right: 0.6em;
  padding-left: 0.6em;
  cursor: pointer;
}
