.container {
  display: flex;
  flex-direction: column;
}

.loader {
    height: 20px;
  }
  
  .calendar_event_list {
    flex-wrap: nowrap;
    align-items: center;
    padding: 8px 0 8px;
    gap: 10px;
    overflow: hidden;
  }
  
  .list_item {
    max-width: 100px;
    align-self: center;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    border: 1px solid #6c757d;
    border-radius: 7px;
    background: #fff;
    padding-right: 0.6em;
    padding-left: 0.6em;
    cursor: pointer;
  }
  